.links li {
    list-style-type: none;
    margin-top: 10px;
}
.links a{
    color: white;
    background-color: #B60E00;
    padding: 5px;
    border-radius: 10px;
}

.links a:hover{
    color: black;
    background-color: white;
    text-decoration: none;
}

.category {
    text-decoration: underline;
    text-align: left;
}

.challenges {
    text-align: left;
    list-style: disc;
}  

.challenges a{
    color: #EA1200;
}
.challenges a:hover{
    color: white;
    text-decoration: none;
}